.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.split-content {
  background-color: #fff;
  border: 1px solid #C0C0C0;
  box-shadow: inset 0 1px 2px #e4e4e4;
}

.gutter {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
  background-image: url('../images/vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('../images/horizontal.png');
  cursor: row-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  float: left;
  height: 100%;
}